<h5>Filter By Price</h5>
<div class="card-header">
  
  <div class="card-body">
    <form action="">
      <div class="form-group">
        <label for="from" style="font-size: 12px" class="control-label">From</label>
        <input type="number" id="from" class="form-control" />
      </div>

      <div class="form-group">
        <label for="to" style="font-size: 12px" class="control-label">To</label>
        <input type="number" id="to" class="form-control" />
      </div>
      <p></p>
      <button style="font-size: 11px" class="btn btn-primary btn-block btn-sm"><strong>Filter</strong></button>
    </form>
  </div>
</div>