<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <img src="https://d7z22c0gz59ng.cloudfront.net/cms/img/usr/item/3/37029/37029_1a.jpg">
    <div class="card-body">
      <p class="card-text">
        <strong>Rp539.000</strong>
        <i *ngIf="addedToWishlist" class="fas fa-heart float-right" (click)="handleRemoveFromWishlist()"></i>
        <i *ngIf="!addedToWishlist" class="far fa-heart float-right" (click)="handleAddToWishlist()"></i>
      </p>
      <p class="card-text" style="height: 40px" >Model Scala Tank type Rz53kL Limited edition</p><br>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" style="border-radius: 5px;" class="btn btn-sm btn-primary product-btn" (click)="handleAddToCart()"><strong>+ Basket</strong></button>&nbsp;
          <button type="button" style="border-radius: 5px;" class="btn btn-sm btn-outline-secondary product-btn"><strong>Buy</strong></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <img src="https://d7z22c0gz59ng.cloudfront.net/cms/images/common/genre/mini_4wd/301030.jpg" alt="">
    <div class="card-body">
      <p class="card-text">
        <strong>Rp320.000</strong>
        <i *ngIf="addedToWishlist" class="fas fa-heart float-right" (click)="handleRemoveFromWishlist()"></i>
        <i *ngIf="!addedToWishlist" class="far fa-heart float-right" (click)="handleAddToWishlist()"></i>
      </p>
      <p class="card-text" style="height: 40px">Mini 4W Avante Limited edition only 1.000 unit in the world</p><br>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" style="border-radius: 5px;" class="btn btn-sm btn-primary product-btn" (click)="handleAddToCart()"><strong>+ Basket</strong></button>&nbsp;
          <button type="button" style="border-radius: 5px;" class="btn btn-sm btn-outline-secondary product-btn"><strong>Buy</strong></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-6 col-md-4" *ngFor='let product of productItem'>
  <div class="thumbnail">
    <img src="../../../../../assets/img/modif.jpg" alt="">
    <div class="card-body">
      <p class="card-text">
        <strong>Rp290.000</strong>
        <i *ngIf="addedToWishlist" class="fas fa-heart float-right" (click)="handleRemoveFromWishlist()"></i>
        <i *ngIf="!addedToWishlist" class="far fa-heart float-right" (click)="handleAddToWishlist()"></i>
      </p>
      <p class="card-text" style="height: 40px">Mini 4W Strong in all fields, you can buy now </p><br>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" style="border-radius: 5px;" class="btn btn-sm btn-primary product-btn" (click)="handleAddToCart()"><strong>+ Basket</strong></button>&nbsp;
          <button type="button" style="border-radius: 5px;" class="btn btn-sm btn-outline-secondary product-btn"><strong>Buy</strong></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <img src="../../../../../assets/img/fullmodif.jpg" alt="">
    <div class="card-body">
      <p class="card-text">
        <strong>Rp550.000</strong>
        <i *ngIf="addedToWishlist" class="fas fa-heart float-right" (click)="handleRemoveFromWishlist()"></i>
        <i *ngIf="!addedToWishlist" class="far fa-heart float-right" (click)="handleAddToWishlist()"></i>
      </p>
      <p class="card-text" style="height: 40px">Mini 4WD Avante Racing modification version</p><br>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" style="border-radius: 5px;" class="btn btn-sm btn-primary product-btn" (click)="handleAddToCart()"><strong>+ Basket</strong></button>&nbsp;
          <button type="button" style="border-radius: 5px;" class="btn btn-sm btn-outline-secondary product-btn"><strong>Buy</strong></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <img src="../../../../../assets/img/RC.jpg" style="height: 160px">
    <div class="card-body">
      <p class="card-text">
        <strong>Rp610.000</strong>
        <i *ngIf="addedToWishlist" class="fas fa-heart float-right" (click)="handleRemoveFromWishlist()"></i>
        <i *ngIf="!addedToWishlist" class="far fa-heart float-right" (click)="handleAddToWishlist()"></i>
      </p>
      <p class="card-text" style="height: 30px">RC Model Mercedes-Benz evo II</p><br>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" style="border-radius: 5px;" class="btn btn-sm btn-primary product-btn" (click)="handleAddToCart()"><strong>+ Basket</strong></button>&nbsp;
          <button type="button" style="border-radius: 5px;" class="btn btn-sm btn-outline-secondary product-btn"><strong>Buy</strong></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <img src="../../../../../assets/img/Kit Chasis.jpg" >
    <div class="card-body">
      <p class="card-text"><br><p></p>
        <strong>Rp450.000</strong>
        <i *ngIf="addedToWishlist" class="fas fa-heart float-right" (click)="handleRemoveFromWishlist()"></i>
        <i *ngIf="!addedToWishlist" class="far fa-heart float-right" (click)="handleAddToWishlist()"></i>
      </p>
      <p class="card-text" style="height: 55px">Chasis Kit for RC year 1999 series</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" style="border-radius: 5px;" class="btn btn-sm btn-primary product-btn" (click)="handleAddToCart()"><strong>+ Basket</strong></button>&nbsp;
          <button type="button" style="border-radius: 5px;" class="btn btn-sm btn-outline-secondary product-btn"><strong>Buy</strong></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <img src="../../../../../assets/img/Tornado GR.4 (with pilot doll).jpg" style="height: 150px">
    <div class="card-body">
      <p class="card-text">
        <strong>Rp520.000</strong>
        <i *ngIf="addedToWishlist" class="fas fa-heart float-right" (click)="handleRemoveFromWishlist()"></i>
        <i *ngIf="!addedToWishlist" class="far fa-heart float-right" (click)="handleAddToWishlist()"></i>
      </p>
      <p class="card-text" style="height: 40px">Scala Model type F16</p><br>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" style="border-radius: 5px;" class="btn btn-sm btn-primary product-btn" (click)="handleAddToCart()"><strong>+ Basket</strong></button>&nbsp;
          <button type="button" style="border-radius: 5px;" class="btn btn-sm btn-outline-secondary product-btn"><strong>Buy</strong></button>
        </div>
      </div>
    </div>
  </div>
</div>













<!-- <div class="card mb-4 shadow-sm">
  <blink><img class="bd-placeholder-img card-img-top p-2" width="100%" [src]="productItem.imageUrl" /></blink>

  <div class="card-body">
    <p class="card-text">
      <strong>{{ productItem.price | currency:'INR' }}</strong>
      <i *ngIf="addedToWishlist" class="fas fa-heart float-right" (click)="handleRemoveFromWishlist()"></i>
      <i *ngIf="!addedToWishlist" class="far fa-heart float-right" (click)="handleAddToWishlist()"></i>
    </p>
    <p class="card-text">{{ productItem.description | slice: 0:80 }}...</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary product-btn" (click)="handleAddToCart()">Add to
          Cart</button>
        <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Details</button>
      </div>
    </div>
  </div>
</div> -->



<!-- 
<div class="col-sm-6 col-md-4">
    <div class="thumbnail"> -->
      <!-- <div class="row">
        <div class="col">
          <div class="slider">
            <div class="product">
              <img src="../../../../../assets/img/RC.2.1.jpg" alt="">
              <img src="../../../../../assets/img/RC.2.2.jpg" alt="">
              <img src="../../../../../assets/img/RC.2.3.jpg" alt="">
              <img src="../../../../../assets/img/RC.2.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="preview">
        <img src="https://d7z22c0gz59ng.cloudfront.net/japan_contents/img/usr/item/5/58638/58638_s.jpg" alt="">
        <div class="card-body">
          <p class="card-text">
            <strong>Rp249.000</strong>
            <i *ngIf="addedToWishlist" class="fas fa-heart float-right" (click)="handleRemoveFromWishlist()"></i>
            <i *ngIf="!addedToWishlist" class="far fa-heart float-right" (click)="handleAddToWishlist()"></i>
          </p>
          <p class="card-text">This is the best selling product this month </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" style="border-radius: 5px;" class="btn btn-sm btn-primary product-btn" (click)="handleAddToCart()">Add to
                basket</button>&nbsp;
              <button type="button" style="border-radius: 5px;" class="btn btn-sm btn-outline-secondary product-btn">Buy</button>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
      <div class="col">
        <div class="content">
          <p class="brand">Brand: RC Model Tamiya</p>
          <h2>Mercedes-Benz 190 E 2.5-16 EVO.II</h2>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p class="price">Brand: RC Model Tamiya</p>
          <p>Color <select color="">
            <option value="select color">green</option>
            <option value="select color">grey</option>
            <option value="select color">black</option>
          </select></p>
          <button type="button">
            <i class="fa fa-shopping-cart"></i>
            Add to basket</button>
        </div>
      </div>
    </div>
  </div> -->
  





<!-- <div class="col-sm-6 col-md-4" *ngFor='let product of productItem'>
  <div class="thumbnail">
    <img src="{{ product.image }}" style="height: 170px" alt="" >
    <div class="card-body">
      <p class="card-text">
        <strong>{{ product.price | currency:'IDR' }}</strong>
        <i *ngIf="addedToWishlist" class="fas fa-heart float-right" (click)="handleRemoveFromWishlist()"></i>
        <i *ngIf="!addedToWishlist" class="far fa-heart float-right" (click)="handleAddToWishlist()"></i>
      </p>
      <p class="card-text" style="height: 30px">{{ product.description | slice: 0:80 }}...</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" style="border-radius: 5px;" class="btn btn-sm btn-primary product-btn" (click)="handleAddToCart()">+ Basket</button>&nbsp;
          <button type="button" style="border-radius: 5px;" class="btn btn-sm btn-outline-secondary product-btn">Buy</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
  



