<header>
    <div class="d-flex flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
      <div class="logo">
        <img src="../../../../assets/img/TAMIYA.png" width="104" height="59">
      </div>
      <h5 class="my-0 mr-md-auto font-weight-normal"></h5>
      <nav class="my-2 my-md-0 mr-md-3" id="navbar">
        <button routerLink="cart" class="btn btn-primary">
          <i class="fas fa-cart-plus"></i>
          <div style="font-size: 10px" class="badge bg-light">5</div>
        </button>
          <a class="p-2 text-dark" href="#" style="font-size: 13px">Home</a>
          <a class="p-2 text-dark" href="#" style="font-size: 13px">Help</a>
          <a class="p-2 text-dark" href="#" style="font-size: 13px">About</a>
      </nav>
      <a class="btn btn-primary" style="border-radius: 5px" [routerLink]="['/register']"><strong>Sign up</strong></a>&nbsp;
      <a class="btn btn-light" style="border-radius: 5px" [routerLink]="['/login']"><strong>Login</strong></a>
    </div>
</header>

<p></p>
<br>
<hr>
<hr>
<br>
<p></p>

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="bd-placeholder-img" width="100%" height="350" src="https://www.tamiya.com/cms/images/stories/newstopics/2019/06/21abenoloft/top.jpg">

      <div class="container">
        <div class="carousel-caption text-start">
          <h1></h1>
          <p></p>
          <!-- <p><a class="btn btn-lg btn-primary" href="#"></a></p> -->
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="bd-placeholder-img" width="710" height="350" src="../../../assets/img/modif.jpg">

      <div class="container">
        <div class="carousel-caption-1">
          <h1></h1>
          <p></p>
          <!-- <p><a class="btn btn-lg btn-primary" href="#"></a></p> -->
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="bd-placeholder-img" width="710" height="350" src="https://m.media-amazon.com/images/I/61fHuly1KnS._AC_SL1000_.jpg">

      <div class="container">
        <div class="carousel-caption-2">
          <h1></h1>
          <p></p>
          <!-- <p><a class="btn btn-lg btn-primary" href="#"></a></p> -->
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="bd-placeholder-img" width="100%" height="350" src="../../../assets/img/fullmodif.jpg">

      <div class="container">
        <div class="carousel-caption text-end">
          <h1></h1>
          <p></p>
          <!-- <p><a class="btn btn-lg btn-primary" href="#"></a></p> -->
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden"></span>
  </button>
</div>

<br>


  
 
    


