<!-- <div *ngIf="cartItems.length === 0" class="alert alert-info">Your Basket is Empty.</div>

<ul *ngIf="cartItems.length > 0" class="list-group">
  <li class="list-group-item" *ngFor="let item of cartItems">
    <app-cart-item [cartItem]="item"></app-cart-item>
  </li>

  <li class="list-group-item active">
    <strong>Total</strong> {{ cartTotal | currency:'IDR' }}
  </li>
</ul> -->


<h5>Filter By Category</h5>
<div class="card-header">
  
  <div class="card-body">
    <form action="">
      <div class="form-group">
        <label for="from" style="font-size: 12px" class="control-label">Category</label>
        <input type="text" id="from" class="form-control" />
      </div>
      <p></p>
      <button style="font-size: 11px" class="btn btn-primary btn-block btn-sm">Filter</button>
    </form>
  </div>
</div>